<% if notice %>
    <aside id="notice"> <%= notice %> </aside>
<% end %>

<h1>Товари</h1>

<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'Новий товар', new_product_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="image">
          <%= image_tag(product.image_url, class: 'list_image') %>
        </td>
        <td class="description">
          <h1><%= product.title %></h1>
          <p>
            <%= truncate(strip_tags(product.description), length: 100) %>
          </p>
        </td>
        <td class="actions">
          <ul>
            <li><%= link_to 'Показати', product %></li>
            <li><%= link_to 'Змінити', edit_product_path(product) %></li>
            <li>
                <%= link_to 'Видалити', product,
                        method: :delete,
                        data: { confirm: 'Ви впевнені, що хочете видалити даний товар?' } %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


